#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.item {
    border: 1px solid #cfcfc4;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
}

.itemName {
    margin: 5px 70px 10px 15px;
}

button {
    margin: 5px 10px 10px 10px;
}

.message {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.notification {
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.editBTN {
    background-color: #77DD77;
}

.deleteBTN {
    background-color: #e66e6e;
    color: white;
}

#added {
    background-color: #77DD77;
    color: white;
}

#updated {
    background-color: #58a0ba;
    color: white;
}

#danger {
    background-color: #e66e6e;
    color: white;
}

#clear {
    background-color: #e6ba6e;
    color: white;
}